* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* html {
    font-size: 63.5%;
} */

a {
    color: black;
    text-decoration: none;
}

nav ul {
    /* width: 80%;
    margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10v;
    padding: 2rem;
    /* background: lightblue; */
}

.hero {
    min-height: 90vh;
    background-image: url("/pexels-vlada-karpovich-4050315.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    text-align: center;
}

.hero button {
    padding: 1rem 2rem;
    background: rgb(66, 166, 199);
    border: none;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.intro img {
    width: 100%;
}

.intro-image {
    flex: 1 1 30rem;
    background: lightblue;
}

.intro-text {
    flex: 1 1 30rem;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h2 {
    padding: 2rem;
}

.intro-text p {
    padding: 1rem;
}